name: Monthly Run - Update Financial Returns

on:
  workflow_dispatch:
    # Allows manual triggering from the Actions tab

jobs:
  update-financial-returns:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo content
        uses: actions/checkout@main

      - name: Setup Python
        uses: actions/setup-python@main
        with:
          python-version: '3.10'

      - name: Install required packages
        run: |
          python -m pip install --upgrade pip
          python -m pip install pandas beautifulsoup4 lxml xlrd openpyxl

      - name: Run financial returns update script
        run: |
          python ./ghta_excel_to_html.py

      - name: Commit and push changes
        run: |
          git config --local user.name actions-user
          git config --local user.email "actions@github.com"
          git add index.html
          git pull
          git status
          git diff --cached --exit-code || git commit -m "GH ACTION Monthly Financial Returns Update $(date)"
          git push origin main
